html, body {
	height: calc(100% - 11px);
	margin: 0;
}
body {
	font-family: Arial;
	text-align: center;
	background-color: #BBE;
	background-image: url("../img/sky.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
h1 {
	text-align: center;
	color: #555;
}

/* Stops the annoying dotted line showing up on buttons */
a:focus, a:active, 
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner {
    border: 0;
    outline : 0;
}

input {
	font-family: inherit;
	font-size: 12pt;
}

input[type="text"] {
	background-color: rgba(255, 255, 255, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	padding: 0.5em 0.4em;
	margin-right: 0.25em;
	width: 15em;
}
input[type="text"]#date {
	width: 6em;
}
input[type="text"]#time {
	width: 5.8em;
}
input[type="text"]#airline {
	width: 8em;
}
input[type="text"]:focus {
	border: 1px solid rgb(50, 50, 255);
}

select.preference {
	background-color: rgba(255, 255, 255, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	padding: 0.5em 0.4em;
	margin-right: 0.25em;
	width: 9em;
}

input[type="submit"] {
	background-color: rgba(100, 220, 100, 0.8);
	border: 1px solid rgba(50, 100, 50, 0.5);
	border-radius: 4px;
	padding: 0.5em 0.8em;
	color: #FFF;
}

input[type="submit"]:hover {
	cursor: pointer;
	background-color: rgba(80, 200, 80, 0.8);
}
select {
	background-color: rgba(255, 255, 255, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	padding: 0.5em 0.4em;
	margin-right: 0.25em;
	width: 9em;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
#ips {
	width: 5.1em;
}
div.results {
	display: block;
	width: 70%;
	height: 60%;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 4px;
	margin: 0 auto;
	margin-top: 1em;
	overflow-y: auto;
}

div.result {
	padding: 1em;
	background-color: rgba(200, 200, 200, 0.1); 
	//border: 1px solid #333;
	//border-radius: 3px;
	//margin: 1px;
	border-bottom: 1px solid #555;
	color: #111;
}

div.result:hover {
	cursor: pointer;
}

div.details {
	padding-top: 1em;
}
span.arrow {
	float: right;
	font-size: 11pt;
	color: #333;
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
span.arrow.down {
	-ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}
.ui-menu-item.ui-state-focus {
	border: 1px solid rgb(50, 50, 255);
	background: rgb(200, 200, 255) !important;
	color: rgb(0, 0, 127);
}
.ui-datepicker-header, .ui-state-highlight { /* Date header and current day */
	border: 0 !important;
	background: rgb(200, 200, 255) !important;
	color: rgb(93, 93, 220);
}
.ui-state-hover { /* Date hover */
	border: 1px solid rgb(50, 50, 255) !important;
	background: rgb(200, 200, 255) !important;
	color: rgb(93, 93, 220) !important;
}
.ui-state-active { /* Date selected */
	border: 1px solid rgb(150, 150, 255) !important;
	background: rgb(220, 220, 255) !important;
	color: rgb(93, 93, 220) !important;
}
