html, body {
	height: calc(100% - 11px);
	margin: 0;
}
body {
	font-family: Arial;
	text-align: center;
	background-color: #BBE;
	background-image: url("../img/sky.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
h1 {
	text-align: center;
	color: #555;
}

/* Stops the annoying dotted line showing up on buttons */
a:focus, a:active, 
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner {
    border: 0;
    outline : 0;
}

input {
	font-family: inherit;
	font-size: 12pt;
}
input[type="text"] {
	background-color: rgba(255, 255, 255, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	padding: 0.5em 0.4em;
	margin-right: 0.25em;
	width: 20em;
}
input[type="text"]:focus {
	border: 1px solid rgb(50, 50, 255);
}
input[type="submit"] {
	background-color: rgba(100, 220, 100, 0.8);
	border: 1px solid rgba(50, 100, 50, 0.5);
	border-radius: 4px;
	padding: 0.5em 0.8em;
	color: #FFF;
}
input[type="submit"]:hover {
	cursor: pointer;
	background-color: rgba(80, 200, 80, 0.8);
}
div.results {
	display: block;
	width: 70%;
	height: 70%;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	margin: 0 auto;
	margin-top: 1em;
}
div.result {
	padding: 1em;
	background-color: rgba(200, 200, 200, 0.2); 
	border: 1px solid #333;
	border-radius: 3px;
	margin: 1px;
	color: #111;
}
div.result:hover {
	cursor: pointer;
}
span.arrow {
	float: right;
	font-size: 16pt;
	margin-top: -3px;
	color: #333;
}